.linksBlock {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 100px;
    background-color: rgba(255,255,255,0.08)
}

.page {
    @apply flex flex-col;
    
}

.heroBlock {
    display: flex;
    flex-direction: column;
    @apply my-auto py-4 h-full;
    background-color: #142119;
    /* #2C3A33; */
}