// import { driver } from "@wdio/globals";

/**
 * main page object containing all methods, selectors and functionality
 * that is shared across all page objects
 */
export default class Page {
	// constructor() {
	// 	this.packageName = getPackageName();
	// }
	// async switchToWebview() {
	// 	await driver.switchContext(`WEBVIEW_${this.packageName}`);
	// }
	// async switchToNative() {
	// 	await driver.switchContext("NATIVE_APP");
	// }
}
